[BASIC]
max-branches=15
max-attributes=15
good-names=_,e,f,i,p,ci
defining-attr-methods=__init__,sanity
max-line-length=120
module-rgx = (([a-z_][a-z0-9_-]*)|([A-Z][a-zA-Z0-9-]+))$

[MESSAGES CONTROL]
# Re-enable these ASAP
disable=missing-docstring,logging-format-interpolation,too-many-locals,duplicate-code

[TYPECHECK]
# ignore kerberos module
# it shows issues like
# Module 'kerberos' has no 'authGSSClientInit' member (no-member)
ignored-modules = kerberos
