# configuration for deploy_python_project script

# deploy pypy tarball to PIP_DIR
# deploy src.rpm to copr repository

# COPR repository
# note that copr needs to be configured, seehttps://copr.devel.redhat.com/api/
COPR="mvadkert/citool"

# RPM REQUIRES
REQUIRES=""
BUILD_REQUIRES="python-setuptools"
